* {
    font-family: 'Courgette', cursive;
    color: black;
}

html,
body {
    height: 100%;
    background-image: url(background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center bottom;
}

img {
    border-radius: 10px;
}

.main {
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.37);
}
